In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# import calmap
#from pandas_profiling import ProfileReport

In [5]:
# To load data to Jupyter/Python
df = pd.read_csv('../data:/supermarket_sales.csv')

In [6]:
# To see the first 5 rows (entries)
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,1/5/19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,3/8/19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,3/3/19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,1/27/19,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2/8/19,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
# View the top 10 rows
df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,1/5/19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,3/8/19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,3/3/19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,1/27/19,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2/8/19,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,3/25/19,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,NaN,68.84,6.0,20.6520,433.6920,2/25/19,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,NaN,73.56,10.0,36.7800,772.3800,2/24/19,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,NaN,36.26,2.0,3.6260,76.1460,1/10/19,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,NaN,54.84,3.0,8.2260,172.7460,2/20/19,13:27,Credit card,164.52,4.761905,8.2260,5.9

In [8]:
# To view the last 5 rows
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1.0,3.291,69.111,2/22/19,15:33,Cash,65.82,4.761905,3.291,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.919,649.299,2/18/19,13:28,Cash,618.38,4.761905,30.919,6.6
1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7.0,30.919,649.299,2/18/19,13:28,Cash,618.38,4.761905,30.919,6.6
1001,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,NaN,2.0,5.803,121.863,3/10/19,20:46,Ewallet,116.06,4.761905,5.803,8.8
1002,452-04-8808,B,Mandalay,Normal,Male,Electronic accessories,87.08,NaN,30.478,640.038,1/26/19,15:17,Cash,609.56,4.761905,30.478,5.5

In [9]:
# To view Columns headings
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [10]:
# To view Data types
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                   float64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [11]:
# Display the contents of the 'Date' column in the DataFrame
df['Date']

0        1/5/19
1        3/8/19
2        3/3/19
3       1/27/19
4        2/8/19
         ...
998     2/22/19
999     2/18/19
1000    2/18/19
1001    3/10/19
1002    1/26/19
Name: Date, Length: 1003, dtype: object

In [12]:
df['Branch']

0       A
1       C
2       A
3       A
4       A
       ..
998     A
999     A
1000    A
1001    A
1002    B
Name: Branch, Length: 1003, dtype: object

In [13]:
# Convert the 'Date' column from string/object type to datetime format
df['Date'] = pd.to_datetime(df['Date'])

/var/folders/sn/0lg7zz457qscxlvs60k2_2580000gn/T/ipykernel_38426/241669097.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [14]:
# Display the updated 'Date' column to confirm the conversion
df['Date']

0      2019-01-05
1      2019-03-08
2      2019-03-03
3      2019-01-27
4      2019-02-08
          ...
998    2019-02-22
999    2019-02-18
1000   2019-02-18
1001   2019-03-10
1002   2019-01-26
Name: Date, Length: 1003, dtype: datetime64[ns]

In [15]:
# Set the 'Date' column as the index of the DataFrame, modifying it in place
df.set_index('Date', inplace = True)

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Time,Payment,cogs,gross margin percentage,gross income,Rating
Date,,,,,,,,,,,,,,,,
2019-01-05,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2019-03-08,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6
2019-03-03,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4
2019-01-27,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4
2019-02-08,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [17]:
# Generate a statistical summary of all numeric columns in the DataFrame
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,996.000000,983.000000,1003.000000,1003.000000,1003.000000,1.003000e+03,1003.000000,1003.000000
mean,55.764568,5.501526,15.400368,323.407726,308.007358,4.761905e+00,15.400368,6.972682
std,26.510165,2.924673,11.715192,246.019028,234.303836,6.131488e-14,11.715192,1.717647
min,10.080000,1.000000,0.508500,10.678500,10.170000,4.761905e+00,0.508500,4.000000
25%,33.125000,3.000000,5.894750,123.789750,117.895000,4.761905e+00,5.894750,5.500000
50%,55.420000,5.000000,12.096000,254.016000,241.920000,4.761905e+00,12.096000,7.000000
75%,78.085000,8.000000,22.539500,473.329500,450.790000,4.761905e+00,22.539500,8.500000
max,99.960000,10.000000,49.650000,1042.650000,993.000000,4.761905e+00,49.650000,10.000000

In [18]:
sns.distplot(df['Rating'])
plt.axvline(x=np.mean(df['Rating']), c='red', ls='--', label='mean')
plt.axvline(x=np.percentile(df['Rating'], 25), c='green', ls='--',label='25th-75th Percentile')
plt.axvline(x=np.percentile(df['Rating'], 75), c='green', ls='--')
plt.title('Product Rating Distribution')
plt.legend()
#plt.savefig('../images:/Product_Rating_Distribution.png', dpi=300, bbox_inches='tight')

/var/folders/sn/0lg7zz457qscxlvs60k2_2580000gn/T/ipykernel_38426/2075123687.py:1: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(df['Rating'])
/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [19]:
sns.displot(df['Rating'])

/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [20]:
sns.histplot(df['Rating'])

/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [21]:
df.hist(figsize=(15,10));

In [22]:
sns.countplot(x='Branch', data=df)
plt.ylabel('Number of Transactions', fontsize=12, fontweight='bold', color='darkblue')
plt.xlabel('Branch', fontsize=12, fontweight='bold', color='darkblue')
plt.title('Transaction Count by Branch', fontsize=14, fontweight='bold', color='b')
plt.xticks(fontsize=10, fontweight='bold', color='g', rotation=0)
plt.yticks(fontsize=10, fontweight='bold', color='g');

In [23]:
df['Branch'].value_counts()

Branch
A    342
B    333
C    328
Name: count, dtype: int64

In [24]:
sns.countplot(x='Payment', data=df);

In [25]:
df['Payment'].value_counts()

Payment
Ewallet        346
Cash           346
Credit card    311
Name: count, dtype: int64

In [26]:
sns.scatterplot(x=df['Rating'], y=df['gross income']);

In [27]:
sns.regplot(x=df['Rating'], y=df['gross income']);

In [28]:
sns.boxplot(x=df['Branch'], y=df['gross income']);

In [29]:
sns.boxplot(x=df['Gender'], y=df['gross income'])

In [30]:
daily_avg = df.groupby(df.index.date).mean(numeric_only=True)
daily_avg

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
2019-01-01,54.995833,6.454545,18.830083,395.431750,376.601667,4.761905,18.830083,6.583333
2019-01-02,44.635000,6.000000,11.580375,243.187875,231.607500,4.761905,11.580375,6.050000
2019-01-03,59.457500,4.625000,12.369813,259.766062,247.396250,4.761905,12.369813,8.112500
2019-01-04,51.743333,5.333333,12.886417,270.614750,257.728333,4.761905,12.886417,6.516667
2019-01-05,61.636667,4.583333,14.034458,294.723625,280.689167,4.761905,14.034458,7.433333
...,...,...,...,...,...,...,...,...
2019-03-26,42.972308,4.000000,7.188692,150.962538,143.773846,4.761905,7.188692,6.623077
2019-03-27,56.841000,4.500000,13.822950,290.281950,276.459000,4.761905,13.822950,6.760000
2019-03-28,45.525000,4.800000,10.616200,222.940200,212.324000,4.761905,10.616200,7.050000
2019-03-29,66.346250,6.750000,23.947875,502.905375,478.957500,4.761905,23.947875,6.925000
2019-03-30,67.408182,5.888889,19.424500,407.914500,388.490000,4.761905,19.424500,6.800000

In [31]:
# Step 1: Group by calendar day and compute mean of numeric columns
daily_avg = df.groupby(df.index.date).mean(numeric_only=True)

# Step 2: Convert the index back to datetime for plotting
daily_avg.index = pd.to_datetime(daily_avg.index)

# Step 3: Plot average gross income per day
plt.figure(figsize=(12, 6))
sns.lineplot(x=daily_avg.index, y=daily_avg['gross income'])
plt.title('Average Gross Income per Day')
plt.xlabel('Date')
plt.ylabel('Gross Income')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):
/var/folders/sn/0lg7zz457qscxlvs60k2_2580000gn/T/ipykernel_38426/986585805.py:15: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [32]:
sns.pairplot(df)
plt.show()

/Users/WorkuJ/anaconda3/lib/python3.11/site-packages/seaborn/_oldcore.py:1119: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
# Check for duplicate rows in the DataFrame 
df.duplicated()

In [ ]:
# Count how many duplicate rows exist 
df.duplicated().sum()

In [ ]:
# Display the actual duplicate rows 
df[df.duplicated() == True]

In [ ]:
# Remove duplicate rows permanently from the DataFrame 
df.drop_duplicates(inplace=True)

In [ ]:
# Recheck for duplicates after removal 
df.duplicated()

In [ ]:
# Confirm that no duplicates remain 
df.duplicated().sum()

In [ ]:
# Count missing values in each column 
df.isna().sum()

In [ ]:
# Show the proportion of missing values per column 
df.isna().sum() / len(df)

In [33]:
# Visualize missing values using a heatmap (white = missing) 
sns.heatmap(df.isnull(), cbar=False) # cbar=False hides the color bar legend

In [34]:
# Fill missing values with the most frequent value (mode) from each column 
df.fillna(df.mode().iloc[0], inplace=True) # [0] selects the first mode row

In [35]:
# Import the WordCloud class from the wordcloud library 

from wordcloud import WordCloud

#  Define a patch method to convert a WordCloud object to a NumPy array without copying 
# This helps NumPy-based tools like ydata_profiling handle WordCloud objects correctly

def _wc_to_array_no_copy(self, copy=None):
    return np.asarray(self.to_image())

#  Apply the patch to WordCloud's internal methods 
# This overrides the default behavior so NumPy can convert WordCloud objects directly

WordCloud._to_array = _wc_to_array_no_copy
WordCloud.__array__ = _wc_to_array_no_copy

In [36]:
#  Import the profiling tool
from ydata_profiling import ProfileReport
import pandas as pd

#  Load the dataset (optional if already loaded earlier)
dataset = pd.read_csv('../data:/supermarket_sales.csv')

#  Create an automated exploratory data analysis report
profile = ProfileReport(dataset, explorative=True)
#  Export the report to an HTML file for viewing in a browser
profile.to_file("supermarket_report_v3.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                    | 0/17 [00:00<?, ?it/s]
 41%|                          | 7/17 [00:00<00:00, 68.36it/s]
100%|| 17/17 [00:00<00:00, 71.57it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]